django-extensions
django-mysql
python-dotenv
backports-datetime-fromisoformat
django-admin-rangefilter
django-cors-headers
djangorestframework
google-api-python-client
google-auth-oauthlib
jsonfield
paypal-checkout-serversdk
paypalhttp
redis
stripe
typing-extensions
pytz
whitenoise
zoomus
line-bot-sdk
line-pay
python-decouple
numpy
